
.resourceImage{
  /* background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-color: #D2E0FB;
  background-repeat: no-repeat;
  background-size: cover;
  image-orientation: flip;
  
}
.footerBackground{
  background-color: #596FB7;
  /* background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=740&t=st=1703845711~exp=1703846311~hmac=024319646f33de88b5aadee5c9d470504dd45d80579fbf34e24fd75ca8569c83"); */
  background-repeat: no-repeat;
  background-size: cover;
}